:root {
  --main-color1: #017e81;
  --main-color2: #00AA88;
  --main-color3: #5CB99F;
  --main-color4: #5AC5A9;
  --main-color5: #72D1B7;
  --main-color6: #5EF5BF;
  --main-color7: #40E0D0;
  --main-color8: #66CDAA;
  --second-color: #edeae3;
  --text-color: #1b1b1b;
  --bg-color: #c0c0c0;
  --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%),
}
body {
  margin: 0;
  background-color: #ddd;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Container1 */
.section {
  width: 100%;
  min-height: 100vh;
  
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 100px;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 28px;

}
.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;

}
.content-section .content p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;

}
.content-section .content .button {
  margin-top: 30px;
}
.content-section .content .button a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section .content .button a:hover {
  background-color: var(--main-color8);
  color: #3d3d3d;
  transition: 0.5s;
}
.content-section .social {
  margin: 40px 40px;
}
.content-section .social i {
  color: var(--main-color1);
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social i:hover {
  color: var(--main-color4);
  transition: 0.8s;
}


/* Container2 */


.container2 {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section2 {
  float: right;
  width: 55%;
}
.image-section2 {
  float: left;
  width: 40%;
}
.image-section2 img {
  width: 100%;
  height: auto;
}
.content-section2 .title2 {
  text-transform: uppercase;
  font-size: 28px;

}
.content-section2 .content2 h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;

}
.content-section2 .content2 p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;

}
.content-section2 .content2 .button2 {
  margin-top: 30px;
}
.content-section2 .content2 .button2 a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section2 .content2 .button2 a:hover {
  background-color: var(--main-color8);
  color: #3d3d3d;
  transition: 0.5s;
}
.content-section2 .social2 {
  margin: 40px 40px;
}
.content-section2 .social2 i {
  color: var(--main-color1);
  font-size: 30px;
  padding: 0px 10px;
}
.content-section2 .social2 i:hover {
  color: var(--main-color4);
  transition: 0.8s;
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .container2 {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section2 {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .image-section2 {
    float: none;
    width: 100%;
  }
  .image-section2 img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title{
    text-align: center;
    font-size: 19px;
  }
  .content-section2 .title2{
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button{
    text-align: center;
  }
  .content-section2 .content2 .button2{
    text-align: center;
  }
  .content-section .content .button a {
    padding: 9px 30px;
  }
  .content-section2 .content2 .button2 a {
    padding: 9px 30px;
  }
  .content-section .social {
    text-align: center;
  }
  .content-section2 .social2 {
    text-align: center;
  }
}

